.cnilCookies {
    position: fixed;
    top: 0;
    width: 100%;
    display: none;
    z-index: 1000;
    color: #000000;
    box-shadow: rgb(0, 0, 0) 0px 0px 8px;
    background-color: rgb(236, 235, 235);
    text-align: center;
}
.cnilCookies .inner {
    margin: 0px 10px;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    line-height: 23px;
    padding: 10px 0;
}
.cnilCookies .inner p {
    margin: 0;
    font-size: 0.70rem;
}
.cnilCookies .inner a:not(.close) {
    text-decoration: underline;
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 0px;
    margin: 0px;
    white-space: nowrap;
}
.cnilCookies .inner .btn {
    border-radius: 5px;
    border: 0px;
    padding: 6px 10px;
    font-weight: bold;
    cursor: pointer;
    margin: 0px 10px 0px 30px;
    color: rgb(255, 255, 255);
    transition: 0.25s;
    display: inline;
    text-shadow: rgb(0, 0, 0) 0px 0px 2px;
    white-space: nowrap;
    background-color: rgb(56, 115, 0);
}
.cnilCookies .inner .close.right {
    float: right;
    margin-top: -10px;
}