nav, footer, .breadcrumbs, section#sidebar[role='complementary'], .addthis, .usernsearch, .box.toc {
    display: none;
    visibility: hidden;
}

header {
    padding-bottom: 0;
}

section[role='main'].twelve{
    width: 100%;
}

.container {
    background: #fff;
}